.about__main__container{
    display: flex;
    flex-direction: column; 
    height: 80vh;
    background: url('../img/8shadeshost.jpg');
    
}

.about__main__image{
   height: 100%;
   max-width: 100%;
   background-position: 10% 30%;
   image-rendering: crisp-edges;
   background-size: cover;
}

/* 
.about__main__container .about__photo img{
    height: 300px;
}


.about__main__container .about__photo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.about__main__container .about__photo h5{
    margin-top: 0px;
} */
