.navbar__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background: url('../img/8ShadesRedBlack.jpg');
}

.navbar__main .navbar__main__inner{
    display: flex;
    
}

.navbar__main .navbar__main__inner .item{
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    padding: 1em 1em;
}

.navbar__main .navbar__main__inner .item a{
        color: #fff;
}