.mainShowcase{
    background: url('../img/trainersUP.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;   
    width: 100%;
    height: 80vh;
    align-items: center;
    flex-direction: column;
    position: relative;
} 

/* Overlay */
.mainShowcase::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5)   
}

/* Brings everything in overlay forward */
.mainShowcase *{
    z-index: 10;
}

.mainShowcase h1{
    color: white;
}

.mainShowcase p{
    color: white;
}