.testimonial__container{
    /* width: 1000px; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 10em;
    /* background-color: red; */
}

.testimonial__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    margin: 0 auto;
    max-width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
}

.testimonial__card div{
    /* width: 245px;
    height: 305px; */
    display: flex;
    align-items: center;
    background-color: #e9e3dc;
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
}

.testimonial__card div .inner__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: blue; */
}

.testimonial__card div .inner__text h2{
    font-weight: 100;
    margin-bottom: -14px;
 }

.testimonial__card div .inner__text h5{
   margin-bottom: 0px;
}

.testimonial__card div .inner__text h6{
    margin-top: 0px;
}

.testimonial__card span{
    width: 140px;
    height: 125px;
    border-radius: 100px;
    
}

.testimonial__card .span__1{
    background: url('../img/model1.jpg');
    background-position: 50% 50%;
    background-size: 150px 195px;
}

.testimonial__card .span__2{
    background: url('../img/smiling__1.jpg');
    background-position: 50% 50%;
    background-size: 150px 195px;
}

.testimonial__card .span__3{
    background: url('../img/smiling__2.jpg');
    background-position: 50% -1%;
    background-size: 190px 185px;
}


.testimonial__card:hover{
    transform: translateY(5px);
    /* background: rgba(0,0,0,0.5); */
}

.testimonial__card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s all;
}

.testimonial__card:hover:before{
    opacity: 1;
}

/* .testimonial__card figure:hover{ 
    background: #af8734;
}  */


/* .testimonial__card figcaption{ 
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5)  
} */



/* .testimonial__card figcaption::before{ 
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  
} */

